$colors-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37
);

fa-icon[color="primary"] {
  color: map-get($colors-palette, primary);
}

fa-icon[color="secondary"] {
  color: map-get($colors-palette, secondary);
}

fa-icon[color="success"] {
  color: map-get($colors-palette, success);
}

fa-icon[color="warning"] {
  color: map-get($colors-palette, warning);
}

fa-icon[color="alert"] {
  color: map-get($colors-palette, alert);
}
