// Amiko Regular
@font-face {
  font-family: "Amiko", sans-serif;
  src: url(assets/fonts/amiko/Amiko-Regular.ttf) format("truetype");
}

// Amiko Bold
@font-face {
  font-family: "Amiko-Bold", sans-serif;
  src: url(assets/fonts/amiko/Amiko-Bold.ttf) format("truetype");
}
