@mixin generate-classes($className, $styleName, $max, $offset, $unit) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}

$mx-px-max: 100;
$mx-px-offset: 5;
$mx-px-unit: "px";

// Margins
@include generate-classes(".mt-", "margin-top", $mx-px-max, $mx-px-offset, $mx-px-unit);
@include generate-classes(".mr-", "margin-right", $mx-px-max, $mx-px-offset, $mx-px-unit);
@include generate-classes(".mb-", "margin-bottom", $mx-px-max, $mx-px-offset, $mx-px-unit);
@include generate-classes(".ml-", "margin-left", $mx-px-max, $mx-px-offset, $mx-px-unit);
@include generate-classes(".mx-", "margin", $mx-px-max, $mx-px-offset, $mx-px-unit);
// Paddings
@include generate-classes(".pt-", "padding-top", $mx-px-max, $mx-px-offset, $mx-px-unit);
@include generate-classes(".pr-", "padding-right", $mx-px-max, $mx-px-offset, $mx-px-unit);
@include generate-classes(".pb-", "padding-bottom", $mx-px-max, $mx-px-offset, $mx-px-unit);
@include generate-classes(".pl-", "padding-left", $mx-px-max, $mx-px-offset, $mx-px-unit);
@include generate-classes(".px-", "padding", $mx-px-max, $mx-px-offset, $mx-px-unit);

$fs-max: 5;
$fs-offset: 1;
$fs-unit: "em";

// Font Size
@include generate-classes(".fs-", "font-size", $fs-max, $fs-offset, $fs-unit);
