<div class="card">
    <p>example-component works!</p>
    <a [routerLink]="['/lazy']">
        GO TO LAZY!
    </a>
    <!-- Fontawesome icon example -->
    <fa-icon [icon]="['far','user']" color="primary" class="fs-2"></fa-icon>
</div>